@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Some College</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Some College</h2>
        <p>
            Some College is the school of hard knocks. Get your education while you're young and then continue to be a life long learner.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build the application by following the steps in a series of tutorials.</p>
        <p>
            <a class="btn btn-default"
               href="https://docs.microsoft.com/aspnet/core/data/ef-rp/intro">
                See the tutorial &raquo;
            </a>
        </p>
    </div>
</div>